/* --- Base Typography --- */
h1,
h2,
h3,
h4
{
  font-family: "Karla", sans-serif;
  font-weight: bold;
  margin: 0;
  transition: font-size 300ms;
}

p,
.xs,
.sm,
.lg,
.xl
{
  margin: 0;
  transition: font-size 300ms;
}

/* --- Typographic Scale (Mobile First) --- */
h1
{
  font-size: 1.5rem;
}

h2
{
  font-size: 1.25rem;
}

h3
{
  font-size: 0.875rem;
}

h4
{
  font-size: 0.75rem;
}

p
{
  font-size: 0.875rem;
}

.xs,
.sm
{
  font-size: 0.75rem;
}

.lg
{
  font-size: 1rem;
}

.xl
{
  font-size: 1.125rem;
}

/* --- Utility Classes --- */
.rounded
{
  border-radius: 4px;
}

/* --- App Layout --- */
main
{
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* --- Media Queries for Typography & Utilities --- */
@media (min-width: 48rem)
{
  .rounded
  {
    border-radius: 6px;
  }
}

@media (min-width: 64rem)
{
  h1
  {
    font-size: 2.25rem;
  }

  h2
  {
    font-size: 1.875rem;
  }

  h3
  {
    font-size: 1.5rem;
  }

  p
  {
    font-size: 1.125rem;
  }

  .sm
  {
    font-size: 0.875rem;
  }

  .lg
  {
    font-size: 1.25rem;
  }

  .xl
  {
    font-size: 1.5rem;
  }

  .rounded
  {
    border-radius: 8px;
  }
}

@media (min-width: 80rem)
{
  h1
  {
    font-size: 3.75rem;
  }

  h2
  {
    font-size: 2.25rem;
  }

  h3
  {
    font-size: 1.875rem;
  }

  h4
  {
    font-size: 1rem;
  }

  p
  {
    font-size: 1.5rem;
  }

  .xs
  {
    font-size: 0.875rem;
  }

  .sm
  {
    font-size: 1.25rem;
  }

  .lg
  {
    font-size: 1.875rem;
  }

  .xl
  {
    font-size: 2.25rem;
  }
}